body
{
	background-image: url('background2.png')  ;
}
#allpage
{
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	border: 3px solid #ffffff;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #ffffff;
	padding: 8px;
	background-color: rgb(235, 231, 221);
	
	
	
}
p
{
	text-align: center;
}

#gallery { display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

img { margin: 0.5em;
    box-shadow: 10px 10px 10px #777777;
}
h1{
    text-align: center;
}
header
{
	text-align: center;
}
