<div class="container">


    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">About ME</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ms-auto"><p class="lead"><b>Bachelor's degree in Civil engineering:<br></b>
                    - Site engineer for many projects.<br>
                    - Quantity estimator for civilian works.<br>
                    -AutoCAD Designer<br><br> </p></div>
                <div class="col-lg-4 me-auto"><p class="lead"><b>Software Engineering student at Centennial College :<br></b>
                    - 3rd Semester <br>
                    programming languages : <br>
                    HTML ,CSS ,JavaScript
                     ,C# ,Java ,Linux<br></p></div>
            </div>
            <!-- About Section Button-->
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="./Assets/pdf/CV.Pdf" download>
                    <i class="fas fa-download me-2"></i>
                    Download Resume !
                </a>
            </div>
        </div>
    </section>

    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p class="lead mb-0">
                        Toronto
                        <br />
                        160 Hallam st. M6H 1X2
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">CONTACT INFO</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/alaakhdour"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/ala-a-al-khdour-312240145/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/alaakhdour"><img src="./Assets/images/git.svg"></a>

                
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">Skills</h4>
                    <p class="lead mb-0">
                        HTML , CSS ,JavaScript<br>
                        C# , Java ,Linux
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>