<div class="container">
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="./Assets/images/Alaa.jpg" alt="..." />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Ala'a Al-khdour</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Software Engineer - Centennial  College</p>
        </div>
    </header>



    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">Mission Statement!</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ms-auto"><p class="lead">As a Software engineer, I am dedicated to providing you with the highest quality service possible. My personal knowledge of Software engineering is combined with the power of the Centennial College.
                    Let me help you to develop your website with a price range that you want.</p></div>
                <div class="col-lg-4 me-auto"><p class="lead"> If you are interested to advertise your website you get the highest reviews with the best price.
                    If you have any questions please do not hesitate to contact me.<br> I look forward to the opportunity of working for you!</p></div>
            </div>
           
        </div>
    </section>
</div>